.navBar {
    display: flex;
    padding: 1rem;
    justify-content: end;
}

.ant-btn {
    margin: 1rem;
    background-color: var(--info-color) !important;
    border-color: var(--info-color) !important;

}

.appContainer {
    height: 100%;
}

.ant-switch {
    margin: auto 0rem !important;
}

.ant-select {
    margin: auto 1rem !important;
}